
<a href="tasks/new-task" class="btn btn-success" style="color:white; margin: 25px 0 25px 0">Add new reminder</a>


{{!-- Tabla de tareas --}}
<table class="table">
  <h2 style="padding: 10px 0 10px 0;">Active reminders</h2>
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Subjet</th>
      <th scope="col">Message</th>
      <th scope="col">Date and time</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each tasks}}
    <tr>
  
      <th scope="row">{{this.id}}</th>
      <td>{{this.subjet}}</td>
      <td>{{this.message}}</td>
      <td>{{this.date}}{{this.time}}</td>
      <td><a class="btn btn-primary" href="./tasks/edit-task/{{this.id}}">Edit</a> <a class="btn btn-danger" style="margin-left: 10px;" href="/tasks/delete/{{this.id}}">Delete</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>