

{{!-- Index con session --}}
{{#if currentUser}}
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <img src="../../images/default-user-image.png" class="card-img-top" style="height: 15rem;" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{currentUser.firstName}} {{currentUser.lastName}}</h5>
          
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"></li>
          <li class="list-group-item"><ion-icon name="mail-outline"> </ion-icon>  {{currentUser.username}}</li>
          <li class="list-group-item"><ion-icon name="call-outline"> </ion-icon>  {{currentUser.phone}}</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Edit Profile</a>
         
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">
          Recent reminders
        </a>
        {{#each tasks}}
        <a href="/tasks/edit-task/{{this._id}}" class="list-group-item list-group-item-action"><strong>{{this.subjet}}</strong> <br> {{this.message}}</a>
        {{/each}}
      </div>
    </div>
  </div>
</div>



{{!-- END Index con session --}}
{{else}}

<div class="jumbotron">
  <h1 class="display-4">Hello, IronCaller is waiting for you!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>


{{/if}}